.contenedor-listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
}

.cdaPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    margin: 10px 15px;
    padding: 4px 36px;
    border-radius: 6px;
    box-shadow: 2px 4px 5px #a1a1a1;
}

.titulo {
    font-size: 15px;
    font-weight: 500;
}

.subtitulo {
    font-size: 13px;
    font-weight: 300;
    background-color: #c1c1c1;
    padding: 4px 10px;
    border-radius: 4px;
}

.contenedor-filtro{
    display: flex;
    justify-content: center;
}

.contenedor-filtro > input{
    max-width: 50%;
    padding: 11px 16px;
    margin: 29px 0;
}

.ngx-pagination{
    margin: 18px 0px;
    padding: 26px 27px;
    border-radius: 13px;
    border: 1px solid #eae6e6;
}