<div class="contenedor-filtro">
    <input class="form-control" [(ngModel)]="filtro" (ngModelChange)="filtrar()" placeholder="filtrar por tipo o nombre"/>
</div>
<div class="contenedor-listado" (scroll)="scrollHandler($event)">
    <div
        *ngFor="let i = index; let pokemon of resultadoFiltrado">
        <div class="cdaPokemon" (click)="abrirDialogo(pokemon)">
            <p class="titulo">{{pokemon.name}}</p>
            <img [src]="pokemon.sprites.front_default" />
            <p class="subtitulo">{{pokemon.types.toString()}}</p>
        </div>
    </div>
</div>
<hr/>