<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h4>Bievenido</h4>
    <div class="form-content">
      <input class="form-control" type="usuario" formControlName="usuario" placeholder="usuario" />
      <div *ngIf="(usuario?.invalid && usuario?.touched) || usuario?.dirty">
        <small *ngIf="usuario?.errors?.required" class="text-danger">El campo usuario no puede ir vacio</small>
        <small *ngIf="usuario?.errors?.pattern" class="text-danger">Ingresa un email valido</small>
      </div>

      <input class="form-control" formControlName="clave" type="password" placeholder="clave" />
      <div *ngIf="(clave?.invalid && clave?.touched) || clave?.dirty">
        <small *ngIf="clave?.errors?.required" class="text-danger">El campo clave no puede ir vacio</small>
        <small *ngIf="clave?.errors?.minlength" class="text-danger"> La clave debe tener al menos 8 carateres </small>
      </div>

      <button  type="submit" class="boton-ingresar">
        Ingresar
      </button>
      <button (click)="registrarse()"  class="boton-registrar">
        Registrar
      </button>
    </div>
  </form>
</div>