.contenedor-navbar{
    display: flex;
    justify-content: space-between;
}

.contenedor-navbar .mat-icon{
    cursor: pointer;
}

.contenedor-navbar > span:nth-child(2) {
    cursor: pointer;
}

.contenedor-info-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor-info-usuario > div{
    display: flex;
    flex-direction: column;
    margin-right: 32px
}


.contenedor-info-usuario > div > span{
    font-size: 31px;
}

.contenedor-info-usuario > div > small{
    font-size: 13px;
}