<mat-toolbar class="contenedor-navbar" *ngIf="usuarioSesion?.nombre">
    <div class="contenedor-info-usuario">
        <div>
            <span>{{usuarioSesion.nombre}}</span>
            <small>{{usuarioSesion.usuario}}</small>
        </div>
        <mat-icon (click)="editar()">edit</mat-icon>
    </div>
    <mat-icon (click)="salir()">close</mat-icon>
</mat-toolbar>