<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h4>Bievenido</h4>
    <div class="form-content">
      
      <input class="form-control" type="nombre" formControlName="nombre" placeholder="nombre" />
      <div *ngIf="(nombre?.invalid && nombre?.touched) || nombre?.dirty">
        <small *ngIf="nombre?.errors?.required" class="text-danger">El campo nombre no puede ir vacio</small>
      </div>

      <input class="form-control" type="usuario" formControlName="usuario" placeholder="usuario" />
      <div *ngIf="(usuario?.invalid && usuario?.touched) || usuario?.dirty">
        <small *ngIf="usuario?.errors?.required" class="text-danger">El campo usuario no puede ir vacio</small>
        <small *ngIf="usuario?.errors?.pattern" class="text-danger">Ingresa un email valido</small>
      </div>

      <input class="form-control" formControlName="clave" type="password" placeholder="clave" required/>
      <div *ngIf="(clave?.invalid && clave?.touched) || clave?.dirty">
        <small *ngIf="clave?.errors?.required" class="text-danger">El campo clave no puede ir vacio</small>
        <small *ngIf="clave?.errors?.minlength" class="text-danger"> La clave debe tener al menos 8 carateres </small>
        <small *ngIf="clave?.errors?.ValidarMinimoDosMayuculas" class="text-danger">Debe tener al menos dos mayusculas</small>
        <small *ngIf="clave?.errors?.ValidarSiTieneCaracteresEspeciales" class="text-danger">Debe tener al menos un caracter especial</small>
        <small *ngIf="clave?.errors?.ValidarALMenosUnNumero" class="text-danger">Debe tener al menos un numero</small>
      </div>

      <input class="form-control" formControlName="confirmarClave" type="password" placeholder="Confirmar Clave"/>
      <div *ngIf="(confirmarClave?.invalid && confirmarClave?.touched) || confirmarClave?.dirty">
        <small *ngIf="confirmarClave?.errors?.required" class="text-danger">El campo confirmar clave no puede ir vacio</small>
        <small *ngIf="confirmarClave?.errors?.minlength" class="text-danger"> La clave debe tener al menos 8 carateres </small>
        <small *ngIf="confirmarClave?.errors?.MustMach" class="text-danger">Las claves no son iguales</small>
        <small *ngIf="confirmarClave?.errors?.ValidarMinimoDosMayuculas" class="text-danger">La clave debe tener al menos dos mayusculas</small>
        <small *ngIf="confirmarClave?.errors?.ValidarSiTieneCaracteresEspeciales" class="text-danger">Debe tener al menos un caracter especial</small>
        <small *ngIf="confirmarClave?.errors?.ValidarALMenosUnNumero" class="text-danger">Debe tener al menos un numero</small>
      </div>
      <button  type="submit" class="boton-registrar">
        Registrar
      </button>
      <button (click)="ingresar()" class="boton-ingresar">
        Ingresar
      </button>
    </div>
  </form>
</div>