<div class="contenedor-detalle">
    <div class="contenedor-imagen">
        <img [src]="pokemon.sprites.front_default" />
    </div>
    <div>
        <p><strong>#ID</strong>{{pokemon.id}}</p>
        <p><strong>Nombre</strong>{{pokemon.name}}</p>
        <p><strong>Tipo</strong>{{pokemon.types}}</p>
        <p><strong>Altura</strong>{{pokemon.height}}</p>
        <p><strong>Peso</strong>{{pokemon.weight}}</p>
    </div>
    <div class="contenedor-movimientos">
        <p>Lista de movimientos</p>
        
        <ul>
            <!--<li *ngFor="let movimiento of pokemon.moves">
                {{movimiento.name}}
            </li>-->
        </ul>
    </div>
    <!--<div>
        <p>cadena de evolucion</p>
        <ul>
            <li *ngFor="let cadena of pokemon.chain">
                {{cadena.name}}
            </li>
        </ul>
    </div>-->
</div>