<a class="volver" (click)="volver()">Volver</a>
<div class="contenedor-detalle">
    <div class="contenedor-imagen">
        <img [src]="pokemon.sprites.front_default" />
    </div>
    <div class="contenedor-info">
        <p><strong>#ID</strong>{{pokemon.id}}</p>
        <p><strong>Nombre</strong>{{pokemon.name}}</p>
        <p><strong>Tipo</strong>{{pokemon.types}}</p>
        <p><strong>Altura</strong>{{pokemon.height}}</p>
        <p><strong>Peso</strong>{{pokemon.weight}}</p>
    </div>
    <div class="contenedor-info">
        <p>Cadena de evolución</p>
        <small *ngFor="let ev of pokemon.evolution">
            {{ev.name}}
        </small>
    </div>
    <div class="contenedor-movimientos">
        <p>Lista de movimientos</p>
        <small *ngFor="let movimiento of pokemon.moves">
            {{movimiento.move.name}}
        </small>
    </div>
</div>