.contenedor-detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6em;
    padding: 2em;
    border-radius: 9px;
}

.contenedor-info{
    flex-direction: column;
}

.contenedor-movimientos{
    overflow: auto;
    display: block !important;
    margin-top: 38px;
}

.contenedor-movimientos > small{
    font-weight: 100;
    padding: 2px 4px;
    text-decoration: underline;
}

.contenedor-detalle > div{
    border: 1px solid transparent;
    padding: 1em 4em;
    font-size: 14px;
    justify-content: space-evenly;
    display: flex;
    min-width: 19em;
    max-height: 19em;
    box-shadow: 5px 8px 11px 5px rgb(221 221 221 / 57%);
}

.contenedor-detalle > div > p > strong {
    font-weight: bolder;
    font-size: 13px;
}

.contenedor-detalle > div > p > strong::after {
    content: ':  ';
}

.contenedor-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-info > strong, .contenedor-info > p {
    color: #999999;
    font-size: 14px;
    font-family: revert;
    margin: 0px;
    padding: 6px;
}

.volver{
    float: right;
    margin: 17px;
    font-weight: 300;
    font-size: 17px;
    text-decoration: underline;
}