<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <h4>Editar información</h4>
      <div class="form-content">
        
        <input class="form-control" type="nombre" formControlName="nombre" placeholder="nombre" />
        <div *ngIf="(nombre?.invalid && nombre?.touched) || nombre?.dirty">
          <small *ngIf="nombre?.errors?.required" class="text-danger">El campo nombre no puede ir vacio</small>
        </div>
  
        <input class="form-control" type="usuario" formControlName="usuario" placeholder="usuario" />
        <div *ngIf="(usuario?.invalid && usuario?.touched) || usuario?.dirty">
          <small *ngIf="usuario?.errors?.required" class="text-danger">El campo usuario no puede ir vacio</small>
          <small *ngIf="usuario?.errors?.pattern" class="text-danger">Ingresa un email valido</small>
        </div>
  
        <button  type="submit" class="boton-registrar">
          Guardar Cambios
        </button>
      </div>
    </form>
  </div>