h4 {
    font-weight: 700;
    color: #384047;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1.2em;
    margin-top: 0.2em;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 6%;
  }
  
  form {
    background-color: #FFF;
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 8px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  form input {
    color: #384047;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border: none;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1.2em;
    width: 100%;
  }
  
  .boton-ingresar, .boton-registrar{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .boton-ingresar {
      background-color: #4bc970;
  }
  
  .boton-registrar {
      background-color: #0a58ca;
  }